*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background: #f4f4f4;
  height: 100vh;
  width: 100%;

  position: relative;
}
/*userlogin / register*/
.userlogin{
  position: relative;
  top: 15%;
  left: 10%;
  
}